/GENESIS/CellGroup_2_0.dat
/GENESIS/starttime
/GENESIS/stoptime
/GENESIS/time.dat
*.bak
neuroConstruct/generatedMOOSE
neuroConstruct/generatedNeuroML
neuroConstruct/generatedNEURON
neuroConstruct/simulations
*.*~
neuroConstruct/backup*
